<div class= "container-fluid">
  <header class= "jumbotron container-fluid">
    <div id="header-container">
      <span class="nav">
        <p>{{#link-to 'index'}}Home{{/link-to}}</p>
        <p>{{#link-to 'about'}}About{{/link-to}}</p>
        <p>{{#link-to 'contact'}}Contact{{/link-to}}</p>
      </span>
      <span id="logo-container">
        <h1>Blog</h1>
      </span>
      <span id="search-container">
        <h4>Search</h4>
      </span>
    </div>
  </header>
  <div class="main-container">
    {{outlet}}
  </div>
  <hr>
  <footer class=jumbotron>
    {{#link-to 'index'}}Home{{/link-to}} |
    {{#link-to 'about'}}About{{/link-to}} |
    {{#link-to 'contact'}}Contact{{/link-to}}
  </footer>
</div>
