<div class="main-container container">
  <div class="add-post">
    <h2>Add A Post</h2>
    {{new-post savePost="savePost"}}
  </div>

  <div class="all-posts">
    <h2>All Posts</h2>
    {{#each model as |post|}}
      {{post-tile post=post}}
    {{/each}}
  </div>
</div>
