{{update-post post=model update="update"}}
{{post-detail post=model comment=model destroyPost="destroyPost" destroyComment="destroyComment"}}

<h2>Add A Comment</h2>
{{new-comment saveComment="saveComment" post=model}}
